@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400&display=swap');

body {
    margin: 0;
    outline: none;
    font-family: Cairo;
    font-weight: 400;
}

*:focus {
    outline: none;
}

a:link, a:visited {
    text-decoration: none;
    color: #222;
}

.clickable {
    cursor: pointer;
}

.absolute {
    position: absolute;
}

.top-0 { top: 0 }
.right-0 { right: 0 }

#root {

    background-image: url(/src/assets/images/background.png);
    background-size: contain;
}

.option button {
    background: white;
    color: black
}

#correct {
    background: green;
    color: #fff;
}

#wrong {
    background: red;
    color: #fff
}

.show {
    display: flex;
}

.hide {
    display: none;
}

.level-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0,0,0,0.6);
    color: #fff;
}

.level-popup button {
    max-width: 500px;
    margin: 0 10px;
}

.primary-button {
    background: radial-gradient(closest-side at -59% 201%, #DB0061 0%, #F27C00 100%);
    padding: 35px 50px;
    font-size: 2.5rem;
    color: #fff;
    border: none;
    border-radius: 20px;
}

.contact-input::placeholder {
    color: white;
}